/* Global Reset */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: left;
    width: auto;
}
ul {
    list-style-type: none;
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4,
h5 {
    font-size: 14px;
}
p {
    font-size: 14px;
}
h1,
h2,
h3 {
    margin-top: 22px;
    margin-bottom: 14px;
}
h1 {
    padding-bottom: 8px;
}
h2 {
    padding-bottom: 5px;
}
h5,
p {
    margin-top: 0;
    margin-bottom: 14px;
}
div.main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0 20px;
}
div.footer {
    text-align: center;
}
div.code {
    background-color: #f0f0f0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre;
}
a {
    color: #0366d6;
    word-wrap: break-word;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    div.main {
        width: 610px;
    }
}
