/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font: 13.34px helvetica, arial, clean, sans-serif;
    font-size: small;
    text-align: left;
    width: auto;
}

ul {
    list-style-type: none;
}

h1,
h2 {
    font-size: 16px;
}

h3 {
    font-size: 15px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 13px;
}

h1,
h2,
h5,
p {
    margin-top: 10px;
}

div.main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0 20px;
}

div.footer {
    text-align: center;
}

div.code {
    background-color: #f0f0f0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre;
}

a {
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {
    div.main {
        width: 610px;
    }
}
