/* Global Reset */

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: white;
    font: 13.34px helvetica, arial, clean, sans-serif;
    font-size: small;
    text-align: left;
    width: auto;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 16px;
}

h1, h2, p
{
    margin-top: 10px;
}

div.main
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.footer
{
    text-align: center;
}

div.code
{
    background-color: #f0f0f0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre;
}

@media screen and (min-width: 768px) {
    div.main
    {
        width: 610px;
    }
}
