/* home custom css */

/* header */
.header .self, .header .menu-button, .header [role="navigation"]
{
    margin: 20px 0px;
}

.header
{
    background: #0C4B33;
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 100%;
}

.header .container
{
    display: block;
    margin: 0 20px;
}

.header .container:after
{
    content: "";
    display: block;;
    clear: both;
}

.header .self
{
    display: block;
    float: left;
    font-size: 1.3em;
    width: 104px;
    color: #fff;
}

.header .menu-button
{
    display: block;
    float: right;
    width: 45px;
}

.header .menu-button .icon
{
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #fff;
}
.header .menu-button .icon:before
{
    content: "💗";
}

.header [role="navigation"]
{
    float: right;
}

.header [role="navigation"] li
{
    font-size: 1.3em;
    display: block;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    margin: 0px 10px;
    float: left;
}

.header [role="navigation"] li a
{
    color: #fff;
    text-decoration: none
}

.header [role="navigation"] li a:hover
{
    color: #C9F0DD;
}

/* main */
.main ul h1
{
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    /* header */
    .header .container
    {
        margin: 0 14% 0 25%;
    }
    .header .menu-button
    {
        display: none;
    }
}
