/* post custom css */
.post-image,
.post-image-title {
  text-align: center;
}
div.comment_area {
  background-color: #f5f5f5;
}
div.comment_form {
  padding: 15px 20px;
}
form:after {
    display: block;
    content: "";
    clear: both;
}
.comment_area input[type="text"] {
  margin-bottom: 10px;
}
.comment_area textarea {
  resize: vertical;
}
.comment_area .input {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  float: left;
  padding: 6px 12px;
}
.comment_area .input.input_error {
  border: 1px solid #e55c5c;
}
.comment_area .submit {
  margin-top: 15px;
  padding: 6px 12px;
  border-radius: 3px;
  border-width: 1px;
  color: #fff;
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
  width: 80px;
  height: 30px;
  float: right;
}
.comment_area .prompt:after {
    display: block;
    content: "";
    clear: both;
}
.comment_area .submit img {
  width: 40px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}
.comment_area .submit_normal img {
  display: none;
}
.comment_area .submit_normal span {
  display: block;
}
.comment_area .submit_loading img {
  display: block;
}
.comment_area .submit_loading span {
  display: none;;
}
.comment_area .prompt {
  margin-top: 15px;
  float: left;
  color: gray;
}
