/* post custom css */
.post-image,
.post-image-title,
.post-table-title {
  text-align: center;
}
input, textarea, button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
div.comment_area {
  background-color: #f5f5f5;
  padding: 15px 20px;
}
form:after {
  display: block;
  content: "";
  clear: both;
}
.comment_area input[name="display-name"] {
  width: 150px;
  margin-bottom: 10px;
}
.comment_area input[name="email"] {
  width: 200px;
  margin-bottom: 10px;
}
.comment_area textarea {
  resize: vertical;
  height: 100px;
  width: 100%;
}
.comment_area .input {
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 6px 12px;
}
.comment_area .input.input_error {
  border: 1px solid #e55c5c;
}
.comment_area .submit {
  margin-top: 15px;
  padding: 6px 12px;
  border-radius: 3px;
  border-width: 1px;
  color: #fff;
  background-color: #24292e;
  width: 100px;
  height: 40px;
  float: right;
}
.comment_area .prompt:after {
  display: block;
  content: "";
  clear: both;
}
.comment_area .submit img {
  width: 40px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}
.comment_area .submit_normal img {
  display: none;
}
.comment_area .submit_normal span {
  display: block;
}
.comment_area .submit_loading img {
  display: block;
}
.comment_area .submit_loading span {
  display: none;;
}
.comment_area .prompt {
  margin-top: 15px;
  float: left;
  color: gray;
}
