/* home custom css */
.hidden-entry {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  cursor: default;
}

/* header */
.top .action {
  display: flex;
  flex-wrap: wrap;
}
.search {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.search .input {
  width: 140px;
  height: 22px;
  padding: 0 3px;
  border-width: 0;
  border-radius: 3px;
}
.search .go {
  margin-left: 3px;
  height: 22px;
  border-width: 0;
  padding: 0 5px;
  border-radius: 3px;
}

.top .menu-button {
  padding: 12px 0;
  width: 80px;
  cursor: pointer;
}
.top .menu-button .icon {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  line-height: 32px;
}
.top .menu-button .icon:hover,
.top .menu-button.active .icon {
  color: #fff;
}
.top .nav {
  display: none;
  overflow: hidden;
  width: 100%;
  float: right;
  margin: 0;
  max-height: 0;
}
.extra-nav {
  display: none;
  width: 100%;
}
.extra-nav.active {
  display: block;
}
.top .nav ul:after {
  display: block;
  content: "";
  clear: both;
}
.header li {
  font-size: 18px;
  display: block;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin: 0px 10px;
  padding: 12px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.header li a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  display: block;
  width: 100%;
}
.header li a:hover {
  color: #fff;
}

/* main */
.main ul h2 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 14px;
  padding-bottom: 0px;
}
.main ul h2 .date {
  font-weight: normal;
}
.main ul .abstract {
  margin-bottom: 28px;
}

.timeline {
  position: absolute;
  top: 50px;
  right: 20%;
}

.timeline .line {
  position: absolute;
  width: 4px;
  margin-left: 50%;
  height: 100%;
  background-image: -webkit-linear-gradient(top,#FFF 0%,#C1C1C1 8%,#C1C1C1 92%,#FFF 100%);
}

.timeline .dot {
  display: block;
  position: relative;
  background-color: #fff;
  margin-bottom: 50px;
}
.timeline .dot:first-child {
  margin-top: 80px;
}
.timeline .dot:last-child {
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  /* header */
  .top .menu-button {
    display: none;
  }
  .top .nav {
    display: block;
    padding: 12px 0px;
    width: auto;
    max-height: none;
  }
  .top .nav li {
    float: left;
    border: 0px;
    padding: 0px;
  }
  .header .extra-nav {
    display: none;
  }
}
