<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>归档</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/pages/common/default.css" />
  <link rel="stylesheet" type="text/css" href="/pages/archive/index.css" />
</head>
<body>
  <header class="header">
    <div class="top">
      <div class="self">
        <a href="/index.html">jam.chenjun</a>
      </div>
    </div>
  </header>
  <div class="main">
    <div class="leading-panel"></div>
    <div class="content">
      {% assign guard_year = "" %}
      {% for post in site.posts %}
        {% assign cur_year = post.date | date: "%Y" %}
        {% if cur_year != guard_year %}
          <div class="year">{{ cur_year }}年</div>
          {% assign guard_year = cur_year %}
        {% endif %}

        <div class="post">
          <span class="date">{{ post.date | date: "%m-%d" }}</span>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endfor %}
    </div>
    <div class="trailing-panel"></div>
  </div>
  <footer class="bottom">
    <p>Powered by <a href="https://pages.github.com/" target="_blank">GitHub</a> &copy; 2020 陈军</p>
  </footer>
</body>
</html>