<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/pages/common/default.css" />
  <link rel="stylesheet" type="text/css" href="/pages/home/index.css" />
</head>
<body>
  <a class="hidden-entry" href="/pages/hidden/index.html" target="_blank"></a>

  <header class="header">
    <div class="top">
      <div class="self">
        <a href="/index.html">jam.chenjun</a>
      </div>
      <div class="action">
        <div class="menu-button">
          <span class="icon">Menu</span>
        </div>
        <nav class="nav">
          <ul>
            <li>
              <div class="search">
                <input class="input"></input>
                <button class="go" onclick="onNavSearchButtonClick()">&#x1F50D;</button>
              </div>
            </li>
            <li><a href="/pages/archive/index.html">归档</a></li>
            <!-- <li><a href="/pages/resume/index.html" target="_blank">简历</a></li> -->
            <li><a href="/pages/about/index.html">关于</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <nav class="extra-nav">
      <ul>
        <li>
          <div class="search">
            <input class="input"></input>
            <button class="go" onclick="onExtraNavSearchButtonClick()">&#x1F50D;</button>
          </div>
        </li>
        <li><a href="/pages/archive/index.html">归档</a></li>
        <!-- <li><a href="/pages/resume/index.html" target="_blank">简历</a></li> -->
        <li><a href="/pages/about/index.html">关于</a></li>
      </ul>
    </nav>
  </header>

  <div class="main">
    <div class="leading-panel">
      <div class="timeline">
        <div class="line"></div>
        <div>
          {% assign guard_year = "" %}
          {% for post in site.posts %}
            {% assign cur_year = post.date | date: "%Y" %}
            {% if cur_year != guard_year %}
              <a class="dot" href="#{{ post.date | date: 'id-%Y-%m-%d' }}">{{ cur_year }}</a>
              {% assign guard_year = cur_year %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="content">
      <h1>最新文章</h1>
      <ul>
        {% for post in site.posts %}
          <li id="{{ post.date | date: 'id-%Y-%m-%d' }}">
            <h2>
              <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            <div class="abstract">
              {{ post.content | strip_html | strip_newlines | truncate: 150 | remove_first: post.title }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="trailing-panel"></div>
  </div>

  <footer class="bottom">
    <p>Powered by <a href="https://pages.github.com/" target="_blank">GitHub</a> &copy; 2020 陈军</p>
  </footer>



  <script type="text/javascript">
    window.onload = function() {
      const menuButtonEle = document.querySelector('.menu-button');
      menuButtonEle.addEventListener('click', function() {
        menuButtonEle.classList.toggle('active');
        document.querySelector('.extra-nav').classList.toggle('active');
      }, false);
    };

    function onNavSearchButtonClick() {
      const inputEle = document.querySelector('.nav .search .input');
      doSearch(inputEle.value.trim());
    }
    function onExtraNavSearchButtonClick() {
      const inputEle = document.querySelector('.extra-nav .search .input');
      doSearch(inputEle.value.trim());
    }
    function doSearch(text) {
      if (!text) {
        return;
      }
      encodeURIComponent(text)
      const link = `https://www.google.com/search?q=${encodeURIComponent(text)}+site%3Arob2468.github.io`;
      window.open(link);
    }
  </script>
</body>
</html>

