<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/post.css" />
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="/js/utility.js"></script>
    <script type="text/javascript" src="/js/post.js"></script>
</head>
<body>
    <header class="top">
        <div class="container">
            <div class="self">
                <a href="/index.html">jam.chenjun</a>
            </div>
        </div>
    </header>

    <div class="main">
        {{ content }}
        <p>{{ page.date | date: "%Y-%m-%d" }}</p>

        <div class="comment_area">
            <!-- comment form -->
            <div class="comment_form">
                <form>
                <input type="text" name="display_name" class="input" placeholder="昵称" required></input>
                <input type="email" name="email" class="input" placeholder="电子邮箱" required></input>
                <textarea name="content" class="input" placeholder="请输入您的评论" required></textarea>
                <button type="button" class="submit submit_normal" onclick=submitForm()>
                    <img src="/resources/loading-bubbles.svg"/><span>提交评论</span>
                </button>
                <div class="prompt"></div>
                </form>
            </div>

            <!-- comments -->
            <div class="comments">
                {% assign pageid = page.page_id %}
                {%if site.data.comments[pageid] %}
                    {% assign sorted_comments = site.data.comments[pageid] | sort: 'date' %}
                {% endif %}
                {% for c in sorted_comments reversed %}
                    <div>
                        <p>{{ c.author.display_name }} {{ c.date | date: "%Y-%m-%d" }}</p>
                        <p>{{ c.content | newline_to_br }}</p>
                    </div>
                {% else %}
                    这篇文章暂没有评论。
                {% endfor %}
            </div>
        </div>
    </div><!-- main -->

    <footer class="bottom">
        <p>Powered by <a href="https://pages.github.com/" target="_blank">GitHub</a> &copy; 2018 陈军</p>
    </footer>
</body>
</html>
