<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/post.css" />
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            /* 生成目录 */
            // 创建目录
            var contentTableEle = document.createElement("div");
            var tmpEle = document.createElement("p");
            tmpEle.innerHTML = "目录";
            contentTableEle.appendChild(tmpEle);

            var identifier = "section";
            var firstLevelNum = 1;
            var loopID = identifier + "_" + firstLevelNum;
            var loopEle = document.getElementById(loopID);
            while (loopEle) {
                // 创建一级标题目录
                tmpEle = document.createElement("a");
                tmpEle.setAttribute("href", "#" + loopID);
                tmpEle.innerHTML = loopEle.innerHTML;
                contentTableEle.appendChild(tmpEle);
                // 换行
                var br = document.createElement("br");
                contentTableEle.appendChild(br);

                var secondLevelNum = 1;
                var innerLoopID = loopID + "_" + secondLevelNum;
                var innerLoopEle = document.getElementById(innerLoopID);
                while (innerLoopEle) {
                    // 创建二级标题目录
                    tmpEle = document.createElement("a");
                    tmpEle.setAttribute("href", "#" + innerLoopID);
                    tmpEle.innerHTML = innerLoopEle.innerHTML;
                    contentTableEle.appendChild(tmpEle);
                    // 换行
                    br = document.createElement("br");
                    contentTableEle.appendChild(br);

                    secondLevelNum++;
                    innerLoopID = loopID + "_" + secondLevelNum;
                    innerLoopEle = document.getElementById(innerLoopID);
                }

                firstLevelNum++;
                loopID = identifier + "_" + firstLevelNum;
                loopEle = document.getElementById(loopID);
            }

            // 插入到标题后面
            var titleEle = document.querySelectorAll(".title");
            if (titleEle.length > 0) {
                titleEle = titleEle[0];
                titleEle.parentNode.insertBefore(contentTableEle, titleEle.nextSibling);
            }
        });
        </script>
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="header"></div>

        <div class="main">
        {{ content }}

        <div class="comment_area">
        <!-- comment form -->
        <div class="comment_form">
          <form>
            <input type="text" placeholder="姓名"></input>
            <input type="text" placeholder="电子邮箱"></input>
            <textarea placeholder="请输入您的评论"></textarea>
            <input type="button" value="提交评论"></input>
          </form>
        </div>
        <!-- <div id="commentit"></div>
        <script type="text/javascript">
          /** CONFIGURATION VARIABLES **/
          var commentitUsername = 'rob2468';
          var commentitRepo = 'rob2468/rob2468.github.io';
          var commentitId = '{{ page.id }}'; // for data file way of storing comments

          /** DON'T EDIT FOLLOWING LINES **/
          (function() {
              var commentit = document.createElement('script');
              commentit.type = 'text/javascript';
              commentit.async = true;
              commentit.src = 'https://commentit.io/static/embed/dist/commentit.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(commentit);
          })();
        </script> -->
        <!-- comments -->
        {% assign pageid = page.id %}
        {%if site.data.comments[pageid] %}
            {% assign sorted_comments = (site.data.comments[pageid] | sort: 'date') %}
        {% endif %}
        {% for c in sorted_comments %}
          <div>
              <p>{{ c.author.display_name }} on {{ c.date | date_to_string }}</p>
              <p>{{ c.content | newline_to_br }}</p>
          </div>
        {% else %}
            There are no comments on this post.
        {% endfor %}
        </div>
        </div><!-- main -->

        <div class="footer">
            <p>powered by github</p>
        </div>
    </body>
</html>
